@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&family=Poppins:wght@100;200;300;400;500;600;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&family=Poppins:wght@100;200;300;400;500;600;700;800&family=Quicksand:wght@300;400;500;600;700&display=swap');
header {

    display: flex;
    margin: 45px 136px 0 136px;
    justify-content: space-between;
}

header input {
    background: linear-gradient(162.34deg, #161A42 22.61%, rgba(22, 26, 66, 0) 118.29%);
    border-radius: 16px;
    width: 100% ;
    max-width: 700px;
    margin: 0 45px 0  0;
    height: 56px;
    border: 0;
    padding: 0 0 0 20px;
    box-sizing: border-box;
    position: relative;
    outline: none;
    font-size: 20px;
    color: #FFFFFF;
}

header button {
    display: flex;
    transition: .5s;
    border: 0;
    background: linear-gradient(162.34deg, #161A42 22.61%, rgba(22, 26, 66, 0) 118.29%);
    border-radius: 16px;
    padding: 16px;
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    align-items: center;
    letter-spacing: 0.02em;
    color: #FFFFFF;
    margin-left: 20px;
}
header button:first-child{
    margin-left: 0;
}
header button:last-child{
    background: #161A42;
    box-shadow: 0 13px 17px rgba(140, 213, 105, 0.2);
    border-radius: 12px;
    border: 2px solid #A6FFCB;
    position: relative;
}
header button:last-child:after{
    background: linear-gradient(90deg, #9796F0 0%, #FBC7D4 100%);
    border-radius: 100px;
    transform: matrix(-1, 0, 0, 1, 0, 0);
    content: "";
    position: absolute;
    top: 0;
    height: 100%;
    width: 2px;
    right: -20px;
}
header>nav >button:hover{
    box-shadow: 0px 0px 60px 10px rgba(43,214,28,1);
    cursor: pointer;

}

header img[alt="avatar"]{
    border-radius: 50%;
    width: 56px;
    height: 56px;
    margin: auto 0 auto 40px;
}
header div{
    display: flex;
    flex-direction: column;
    margin-left: 16px;
}
header div h2, header div p{
    margin: 0;
    font-family: 'Quicksand', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 22px;
    margin: auto;
    color: #E2E4E9;
}
header div p{
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;

    color: #93C5FD;
}
header .arrow{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    transition: .5s;
    margin: auto auto auto 65px;
    display: flex;
    cursor: pointer;
}
header .arrow img{
    width: 40px;
    transform: scale(0.8);
    margin: auto;
}
header .arrow:hover{
    background: #000;
    filter: invert(1);
}

.header nav{
    display: flex;
    justify-content: space-between;
    width: 100%;
    max-width: 600px;
}
.marginRightAuto{
    margin-right: auto;
}

@media (max-width: 1685px) {
    .header input{
        flex-shrink: 3;
    }
    .header nav{
        flex-shrink: 2;
        max-width: 500px;
    }
}
@media (max-width: 1440px) {
    .header {
        width: calc(100% - 220px);
        padding: 0 100px 0 120px;
        margin-left: 0;
        margin-right: 0;

    }
    .header nav{
        flex-shrink: 4;
        max-width: 500px;
    }
    .header button{
        width: 70px;
        height: 70px;
        font-size: 12px;
        display: flex;
        padding: 10px;
        justify-content: center;
    }
    .header button:first-child{
        display: none;
    }
    .header button:last-child{
        padding: 0;
        width: 110px;
    }
    .header button:nth-child(2){
        margin-left: 0;
    }
    .header input{
        margin-right: 20px;
        height: 70px;
    }
}

@media (max-width: 1100px) {
    .header{
        width: calc(100% - 170px);
        padding: 0 50px 0 120px;
    }
    .header > div{
        display: none;
    }
    .header .arrow{
        display: flex;
        margin: auto 10px;
    }
}

@media (max-width: 855px) {
    .header{
        width: calc(100% - 140px);
        padding: 0 50px 0 90px;
    }
    .header > div{
        display: none;
    }
    .header .arrow{
        display: flex;
        margin: auto 10px;
    }
    .header button{
        width: 70px;
        height: 50px;
    }
    .header input{
        height: 50px;
    }
    .header>img{
        width: 40px !important;
        height: 40px !important;
    }
    .header .arrow{
        width: 30px;
        height: 30px;
    }
    .header .arrow img{
        width: 20px;
        height: 20px;
    }
}

@media (max-width: 780px) {
    .header{
        justify-content: space-between;
        width: calc(100% - 90px);
        padding: 0 10px 0 80px;
    }
    .header nav{
        display: none ;
    }
    .header > img{
        margin: auto 0 !important;
    }
}

@media (max-width: 500px) {
    .header{
        margin-top: 30px;
    }
    .header input::placeholder{
        text-overflow: ellipsis;
        overflow: hidden;
    }
    .header input{
        position: relative;
        padding-right: 10px;
        padding-left: 10px;
        overflow: hidden;
    }
}
@media (min-width: 1920px) {
    .header{
        width: calc(100% - 272px);
        max-width: 1920px;
        margin: 40px auto 0;
    }
}

