.rightMenu {
    display: flex;
    border: 3px solid #075985;
    border-radius: 16px;
    background-color: #0B0D21;
    position: absolute;
    width: 100%;
    max-width: 368px;
    min-height: 1082px;
    background-position: top;
    top: 43px;
    right: 44px;
    contain: content;
    flex-direction: column;
    font-family: 'Quicksand', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 32px;
    color: #FFFFFF;
    z-index: 10;
    overflow: hidden;
}
.rightMenu > img{
    cursor: pointer;
    transition: .5s;
}
.rightMenu > img:hover{
    transform: scale(1.15);
}
.add{
    animation: .3s linear add;
    animation-fill-mode: forwards;
}
.remove{
    animation: .3s linear remove;
    animation-fill-mode: forwards;
}

.rightMenu [alt="avatar"] {
    width: 120px;
    height: 120px;
    margin: 100px auto 0;
}

.name {
    margin: 24px auto 32px;
}

.perks {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    margin: 0 24px;
    grid-gap: 16px;
}

.perks > div > p {
    font-size: 14px;
    line-height: 20px;
    margin: 10px auto 0;
    text-align: center;
}

.perks > div > div {
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(22, 26, 66, 0.7);
    backdrop-filter: blur(5px);
    border: 2px solid #8454EB;
    border-radius: 16px;
}

.perks > div > div > p {
    margin: 12px auto;
}

.rightMenu > button {
    background: rgba(22, 26, 66, 0.7);
    border: 2px solid #495099;
    backdrop-filter: blur(5px);
    border-radius: 16px;
    display: flex;
    font-family: 'Quicksand', sans-serif;
    font-style: normal;
    font-weight: 700;
    height: 64px;
    font-size: 20px;
    line-height: 28px;
    justify-content: space-between;
    width: calc(100% - 48px);
    margin: 0 auto;
    color: #FFFFFF;
    transition: .5s;
}
.rightMenu>button:hover{
    box-shadow: 0px 0px 60px 10px rgba(43,214,28,1);
    cursor: pointer;
}

.rightMenu > button img {
    margin: auto 0 auto 16px;
}

.rightMenu > button p {
    margin: auto auto auto 20px;
    position: relative;
}
.rightMenu > button span:after, .graph p:after, .text p:after{
    width: 0;
    transition: .5s;
    height: 4px;
    content: "";
    position: absolute;
    bottom: 0;
    border-radius: 20px;
    left: 0;
    background: linear-gradient(45deg, rgba(94, 234, 212, 1), rgba(81, 90, 180, 1))
}
.rightMenu > button span:hover:after,.graph p:hover:after, .text p:hover:after{

    width: 100%;
}
.graph p, .text p{
    cursor: pointer;
}
.rightMenu p{
    position: relative;
}

.rightMenu > button span {
    margin: auto 16px auto auto;
    position: relative;
}

.rightMenu h4 {
    font-family: 'Quicksand', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 28px;
    margin: 30px auto 14px 24px;
    color: #FFFFFF;

}

.graph {
    display: flex;
    justify-content: space-between;
    margin: 32px 24px 0;
}

.graph h5, .graph p {
    margin: auto 0;
}

.bar {
    width: calc(100% - 48px);
    height: 184px;
    margin: 14px 24px 0;
}

.activity {
    display: flex;
    flex-direction: column;
}

.activity .text {
    display: flex;
    justify-content: space-between;
    margin: 32px 24px 17px;
}

.activity .text p {
    font-family: 'Quicksand', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 20px;
    /* identical to box height, or 143% */

    display: flex;
    align-items: center;

    /* Greys/Blue Grey/100 */

    color: #FFFFFF;

}

.activity .text h5 {
    font-family: 'Quicksand', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 28px;
    color: #FFFFFF;
}

.item {
    display: flex;
    background: #212760;
    border-radius: 16px;
    height: 88px;
    margin: 0 24px 13px;
    transition: .5s;
}
.item:hover{
    background: rgba(22, 26, 66, 0.2);
    cursor: pointer;
}

h5, p {
    margin: 0;
}


.item .text {
    display: flex;
    margin: 21px 12px;
    flex-direction: column;
}

.item .text h6, .item .text p {
    margin: 0;
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 18px;
    display: flex;
    align-items: center;
    letter-spacing: 0.02em;

    color: #FFFFFF;
}

.item img {
    width: 64px;
    height: 64px;
    margin: 12px 0 12px 12px;
}

.item span {
    background: linear-gradient(88.82deg, #BAC1FF -0.98%, #63FEFE 54.08%, #FF3EEC 112.69%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-fill-color: transparent;
    margin-left: 4px;
}

.coast {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 12px 12px 12px auto;
}

.coast p{
    display: flex;
    margin-left: auto;
}
.coast p:first-child, .coast h5 {
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 20px;
    /* or 167% */

    display: flex;
    align-items: center;
    text-align: right;
    letter-spacing: 0.02em;

    /* Colors/Cyan/300 */

    color: #67E8F9;

}
.coast h5{
    color: #FFFFFF;
    font-size: 14px;
}

.coast p:last-child{
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 11px;
    line-height: 16px;
    /* identical to box height, or 145% */

    display: flex;
    align-items: center;
    letter-spacing: 0.02em;

    /* Colors/Blue/300 */

    color: #93C5FD;
}

.closed{
    display: flex;
    width: 30px;
    height: 30px;
    position: absolute;
    border-radius: 50%;
    transition: .5s;
    top: 20px;
    right: 20px;
}
.closed:hover{
    background: black;
    filter: invert(1);
    cursor: pointer;
}



@media (max-width: 1440px) {
    .rightMenu{
        right: 20px;
    }
}


@media (max-width: 1100px) {
    .rightMenu{

    }
}

@media (max-width: 855px) {
    .rightMenu{

    }
}

@media (max-width: 780px) {
    .rightMenu{
       right: 10px;
    }

}

@media (max-width: 500px) {
    .rightMenu{
        max-width: 300px;

    }
    .rightMenu p, .rightMenu span{
        font-size: 16px;
    }
    .rightMenu h4, .rightMenu h5{
        font-size: 18px;
    }
    .rightMenu > .bar img{
        width: 100%;
    }
    .item{
        margin-top: 20px;
        height: auto;
    }
    .item:last-child{
        margin-top: 0;
    }
    .item img{
        width: 40px;
        height: 40px;
        margin: auto 0 auto 10px;
    }
    .text{
        margin: auto 0 auto 10px !important;

    }
    .text h6, .text p, .text span{
        font-size: 12px !important;
    }
    .item h5{
        font-size: 12px;
    }

}
@media (min-width: 1920px) {
    .hot{
        max-width: 1920px;
    }
}

@keyframes add {
    from{
        transform: translateX(100%);
    }
    to{
       transform: translateX(0);
    }
}
@keyframes remove {
from{
    transform: translateX(0);
}
to{
    transform: translateX(100%);
}
}