.hot {
    display: flex;
    flex-direction: column;
    padding: 40px 136px;
    margin: 0 auto;
}

.slider {
    width: 100%;
    display: flex;
    margin-top: 28px;
    overflow: hidden;
    overflow-x: scroll;
}

.hot h4 {
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 24px;
    color: #BABEE1;
    margin: 0;
}

.item {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 188px;
    height: 293px;
    margin-right: 40px;
}
.item:last-child{
    margin-right: 0;
}

.header {
    display: flex;
    width: 100%;
    position: relative;
}

.header > p {
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 24px;
    /* identical to box height, or 171% */
    margin: auto 4px 10px auto;
    text-align: right;

    color: #FAFAFB;
}

.time {
    display: flex;
    justify-content: center;
    background: #161A42;
    backdrop-filter: blur(2px);
    border-radius: 10px;
    width: 106px;
    height: 50px;
    position: absolute;
    z-index: -1;

}

.time p {
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 24px;
    color: #FAFAFB;
    margin: 8px auto;
    display: flex;
}

.header> img {
    cursor: pointer;
    margin-bottom: 10px;
    transition: .5s;

}
.item>img{
    width: 100%;
    border-radius: 12px;
}
.item h5 {
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 24px;
    /* identical to box height, or 171% */
    margin: 15px 0 2px;

    color: #FAFAFB;


}

.item > div >p {
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 24px;
    margin: 0;
    /* identical to box height, or 171% */


    background: linear-gradient(90deg, #ACB6E5 0%, #86FDE8 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-fill-color: transparent;

}
.slider::-webkit-scrollbar {
    background: #161A42;
    height: 8px;
    border-radius: 20px;
}

.slider::-webkit-scrollbar-thumb {
    background: linear-gradient(90deg, #2193B0 0%, #6DD5ED 100%);
    border-radius: 20px;
    width: 100%;
    max-width: 407px;
}
.header > img:hover{
    transform: scale(1.2);
    animation: heart 1s linear infinite;
}

@keyframes heart {
    0%{
        transform: scale(1);
    }
    50%{
        transform: scale(1.2);
    }
    100%{
        transform: scale(1);
    }
}


@media (max-width: 1440px) {
    .hot{
        width: calc(100% - 220px);
        padding: 44px 100px 40px 120px;
    }
}


@media (max-width: 1100px) {
    .hot{
        width: calc(100% - 170px);
        padding: 44px 50px 40px 120px;
    }
}

@media (max-width: 855px) {
    .hot{
        width: calc(100% - 140px);
        padding: 44px 50px 40px 90px;
    }
}

@media (max-width: 780px) {
    .hot{
        width: calc(100% - 90px);
        padding: 44px 10px 40px 80px;
    }
    .hot h3{
        font-size: 24px ;
    }
    .slider::-webkit-scrollbar {
        height: 4px;
    }

    .slider::-webkit-scrollbar-thumb {
        width: 100%;
        max-width: 200px;
    }
}

@media (min-width: 1920px) {
    .hot{
        max-width: 1920px;
    }
}