.sideMenu {
    background: linear-gradient(180deg, rgba(33, 37, 84, 1), rgba(81, 90, 180, 0));
    height: 95vh;
    min-height: 900px;
    width: 72px;
    position: absolute;
    top: 50vh;
    left: 32px;
    transform: translateY(-50%);
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    border-radius: 16px;
    display: flex;
    flex-direction: column;
}
.sideMenu:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border-radius: 16px;
    border: 2px solid transparent;
    background: linear-gradient(45deg, rgba(33, 37, 84, 1), rgba(81, 90, 180, 0)) border-box;
    -webkit-mask: linear-gradient(#fff 0 0) padding-box, linear-gradient(#fff 0 0);
    -webkit-mask-composite: destination-out;
    mask-composite: exclude;
}

.sideMenu img[alt="logo"]{
    margin: 32px auto 38px;
}
.sideMenu nav{
    display: flex;
    flex-direction: column;
    height: 412px;
    justify-content: space-between;
    position: relative;
}
.sideMenu nav a{
    width:100% ;
    height: 40px;
    transition: .5s;
    display: flex;

}
.sideMenu nav a img{
    margin: auto;
}
.sideMenu nav a:last-child{
    margin-bottom: 56px;
}

.sideMenu nav:after{
    position: absolute;
    content: "";
    bottom: 0;
    left: 50%;
    width:calc(100% - 15px);
    transform: translateX(-50%);
    height: 1px;
    background: rgba(46, 53, 123, 1);
}

.sideMenu nav:nth-child(3){
    height: 240px;
}
.sideMenu nav:nth-child(3) a:last-child{
    margin-bottom: 0;
}
.sideMenu nav:nth-child(3) a:first-child{
    margin-top: 56px;
}
.sideMenu nav:nth-child(3):after{
    display: none;
}
.sideMenu a[href="/logOut"]{
    margin-top: auto;
    margin: auto auto 62px;
}

@media (max-width: 855px) {
    .sideMenu{
        width: 50px;
        left: 20px;
    }
}

@media (max-height: 910px) {
    .sideMenu {
        top: 30px;
        transform: none;
    }
}


.sideMenu nav a:hover{
    filter: invert(1);
}