.topSales {
    display: flex;
    flex-direction: column;
    padding-right: 136px;
    padding-left: 136px;
    padding-top: 44px;
    margin: 0 auto;
}

.topSales h3 {
    font-family: 'Quicksand', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    margin: 0;
    line-height: 32px;
    /* identical to box height, or 133% */


    /* Colors/Emerald/300 */

    color: #6EE7B7;

}

.slider {
    margin-top: 20px;
    display: flex;
    width: 100%;
    overflow-y: hidden;
    overflow-x: scroll;
    padding-bottom: 20px;
}

.slider::-webkit-scrollbar {
    background: #161A42;
    height: 8px;
    border-radius: 20px;
}

.slider::-webkit-scrollbar-thumb {
    background: linear-gradient(90deg, #2193B0 0%, #6DD5ED 100%);
    border-radius: 20px;
    width: 100%;
    max-width: 407px;
}

.item h4 {
    margin: 0;
    display: flex;
    margin-left: auto;
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
    /* identical to box height, or 150% */


    color: #FFFFFF;
}

.item p {
    font-family: 'Quicksand', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 20px;
    /* identical to box height, or 143% */


    /* Colors/Teal/300 */

    color: #5EEAD4;

}

.item {
    display: flex;
    width: 100%;
    max-width: 160px;
    height: 60px;
    justify-content: space-between;
    margin-right: 65px;
}

.item img {
    width: 60px;
    height: 60px;
    margin-right: 12px;
}

.item > div {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 6px 28px 10px 0;
}


@media (max-width: 1440px) {
    .topSales{
        width: calc(100% - 220px);
        padding: 44px 100px 0 120px;
    }
}


@media (max-width: 1100px) {
    .topSales{
        width: calc(100% - 170px);
        padding: 44px 50px 0 120px;
    }
}

@media (max-width: 855px) {
    .topSales{
        width: calc(100% - 140px);
        padding: 44px 50px 0 90px;
    }
}

@media (max-width: 780px) {
    .topSales{
        width: calc(100% - 90px);
        padding: 44px 10px 0 80px;
    }
    .topSales h3{
        font-size: 24px ;
    }
    .slider::-webkit-scrollbar {
        height: 4px;
    }

    .slider::-webkit-scrollbar-thumb {
        width: 100%;
        max-width: 200px;
    }
}

@media (min-width: 1920px) {
    .topSales{
        max-width: 1920px;
    }
}