.slider {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 38px;
}

.popular {
    display: flex;
    flex-direction: column;
    padding: 0 136px;
    margin: 0 auto;
}

.popularText {
    display: flex;
    justify-content: space-between;
}

.popularText h2 {
    font-family: 'Quicksand', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 40px;
    /* identical to box height */
    color: #E2E4E9;
}

.popularText a {
    position: relative;
    margin: auto 0;
    font-family: 'Quicksand', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 20px;
    display: flex;
    align-items: center;
    color: #5EEAD4;
    flex: none;
    order: 0;
    flex-grow: 0;
    text-decoration: none;
}

.popularText a:after {
    width: 0;
    transition: .5s;
    height: 4px;
    content: "";
    position: absolute;
    bottom: 0;
    border-radius: 20px;
    left: 0;
    background: linear-gradient(45deg, rgba(94, 234, 212, 1), rgba(81, 90, 180, 1))
}

.popularText a:hover:after {
    width: 80%;
}

@media (max-width: 1440px) {
    .popular {
        width: calc(100% - 220px);
        padding: 0 100px 0 120px;
    }
}

@media (max-width: 1300px) {

    .slider {
        grid-template-columns: 1fr;
    }
}

@media (max-width: 1100px) {
    .popular {
        width: calc(100% - 170px);
        padding: 0 50px 0 120px;
    }
}

@media (max-width: 855px) {
    .popular {
        width: calc(100% - 140px);
        padding: 0 50px 0 90px;
    }
}

@media (max-width: 780px) {
    .popular {
        width: calc(100% - 90px);
        padding: 0 10px 0 80px;
    }

    .popularText h2 {
        font-size: 24px;
    }
}

@media (max-width: 510px) {
    .popularText h2 {
        font-size: 14px;
    }

    .popularText a {
        font-size: 12px;
    }
}

@media (min-width: 1920px) {
    .popular {
        max-width: 1920px;
    }
}