.item {
    width: 100%;
    height: 305px;
    background-size: cover;
    background-position: center center;
    border-radius: 20px;
    display: flex;
}

.item > div {
    display: flex;
    height: calc(50% - 28px);
    width: calc(50% - 48px);
    margin: auto auto 14px 24px;
    flex-direction: column;
    background: rgba(0, 0, 0, 0.4);
    border: 1px solid #60A5FA;
    backdrop-filter: blur(6px);
    border-radius: 12px;
    padding: 14px 24px;
}

.firstText {
    display: flex;
    justify-content: space-between;
}

.firstText h3 {
    font-family: 'Quicksand', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    margin: 6px 0;
    line-height: 26px;
    color: #FFFFFF;
}

.secondText {
    display: flex;
    justify-content: space-between;
}

.secondText p {
    font-family: 'Quicksand', sans-serif;
    font-style: normal;
    margin: 18px 0;
    font-weight: 600;
    font-size: 12px;
    line-height: 15px;
    color: #FFFFFF;
}

.item > div button {
    background: rgba(22, 26, 66, 0.7);
    border: 2px solid #06B6D4;
    backdrop-filter: blur(5px);
    border-radius: 12px;
    font-family: 'Quicksand', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 20px;
    text-align: center;
    color: #FFFFFF;
    height: 36px;
    cursor: pointer;
    transition: .5s;
}
.item > div button:hover{
    background: rgba(22, 26, 66, 0.2);
    border: 2px solid #2c98a0;
}

@media (max-width: 1300px) {
    .item {
        width: 100%;
    }

    .item:nth-child(2) {
        display: none;
    }
}

@media (max-width: 660px) {
    .item > div {
        padding: 10px;
    }
    .item > div p{
        font-size: 12px;
    }
    .item >div h3{
        font-size: 14px;
    }
    .item > div button{
        height: 30px;
    }
}
@media (max-width: 660px) {
   .item > div{
       height: 45%;
       margin: auto auto 20px auto;
       width: calc(100% - 48px);
   }
}

@media (max-width: 510px) {
    .item{
        height: 250px;
    }
}