.App {
    text-align: center;

}


.App-logo {
    height: 40vmin;
    pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
    .App-logo {
        animation: App-logo-spin infinite 20s linear;
    }
}

.App-header {
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
}

.App-link {
    color: #61dafb;
}

@keyframes App-logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

.active {
    background: #232966;
    position: relative;
    transition: .5s;
}
.active:hover{
    filter: invert(0) !important;
}
.active:after {
    content: "";
    position: absolute;
    width: 4px;
    height: 110%;
    background: linear-gradient(90deg, #EC008C 0%, #FC6767 100%);
    border-radius: 20px;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
}